// style.module.scss

$navbar-bg: #333;
$navbar-hover-bg: #444;
$dropdown-bg: #555;
$dropdown-hover-bg: #666;
$white: white;

.navbar {
  display: flex;
  align-items: center;
  background-color: $navbar-bg;
  padding: 10px 20px;
  position: relative; // Voor dropdown positionering
}

.logo img {
  width: 100px;
  height: auto;
  margin-left: 75px;
}

.menuIcon {
  display: none;
  font-size: 30px;
  color: $white;
  cursor: pointer;
  margin-left: auto; // Zorg ervoor dat het hamburger-menu aan de rechterkant staat
}

.navMenu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: 30px;
}

.navItem {
  position: relative;

  a {
    color: $white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: $navbar-hover-bg;
    }
  }

  &:hover .dropdownMenu {
    display: block; // Dropdown zichtbaar maken bij hover   
  }
}

.dropdownMenu {
  display: none;
  position: absolute;
  background-color: $dropdown-bg;
  list-style: none;
  padding: 10px 0; // Ruimte rondom de dropdown items
  top: 100%; // Onder de nav-item
  left: 0;
  right: 0; // Zorg ervoor dat het de volledige breedte heeft
  width: 100%;
  min-width: 150px; // Minimale breedte van de dropdown
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; // Zorgt ervoor dat de dropdown boven andere elementen verschijnt
  text-align: center; // Centraal uitlijnen

  li {
    padding: 10px 0; // Ruimte tussen de items

    a {
      color: $white;
      display: flex;
      justify-content: center; // Centreert de tekst en het icoon
      align-items: center; // Verticale uitlijning
      text-decoration: none;

      &:hover {
        background-color: $dropdown-hover-bg;
      }
    }
  }
}

// Mobile styles
@media (max-width: 768px) {
  .menuIcon {
    display: block; // Toon hamburger menu op mobiel
  }

  .navMenu {
    display: none; // Menu verborgen op mobiel
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: $navbar-bg;
    z-index: 999;
  }

  .showMenu {
    display: flex; // Menu tonen wanneer geopend
  }
}
